*{
    margin: 0;
    padding: 0;
    cursor: default;
}
body{
    
}

nav {
    display: flex;
    text-align: center;
    pointer-events: none; 
    cursor: default;
}

main {
    display: flex;
    text-align: center;
}

